 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.hero {
  background-image: url(home_bg.jpeg); 
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

.logo img {
  width: 60px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav-links li a:hover{
    color: yellowgreen;
}

.hero-content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-content h1 {
  font-size: 48px;
}

.hero-content span {
  color: #f5b70a;
}

.hero-content p {
  margin: 15px 0;
  font-size: 18px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: transparent;
  border: 2px solid white;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}

.btn:hover {
  background:  white;
  color: black;
}

#about-section {
  padding: 60px 20px;
  background-color: black;
}

.about-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.about-text {
  flex: 1 1 50%;
}

.about-text h2 {
  font-size: 32px;
  color: #333;
}

.sub-title {
  color: #888;
  margin-bottom: 20px;
}

.about-text p {
  margin-bottom: 15px;
  color: #555;
  line-height: 1.6;
}

.learn-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

.learn-btn:hover {
  background: gainsboro;
  color: black;
}

.about-images {
  flex: 1 1 40%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.about-images img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  height: 120px;
}






body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.daytime {
  background-color: #d6aa52;
  padding: 40px 0;
}

.daytime-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: #fff;
}

.time-box {
  width: 20px;
}

.icon {
  font-size: 40px;
  margin-bottom: 10px;
}

.time-box h3 {
  margin: 10px 0 5px;
  font-size: 20px;
}

.time-box p {
  font-size: 14px;
  opacity: 0.9;
}






.gallery-section {
  background-color: #1e1e1e;
  padding: 60px 20px;
  text-align: center;
  color: #fff;
}

.gallery-section h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  max-width: 800px;
  margin: auto;
  border-radius: 50PX;
}

.gallery-grid img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s;
}

.gallery-grid img:hover {
  transform: scale(1.05);
}
.contact-section {
  background-color: #f8f8f8;
  padding: 50px 20px;
  font-family: Arial, sans-serif;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
max-width: 1100px;
  margin: auto;
}

.contact-info {
  flex: 1;
  min-width: 280px;
  margin-right: 30px;
}

.contact-info h3 {
  margin-bottom: 10px;
  color: #333;
}

.contact-info p {
  margin: 5px 0;
  color: #666;
}

.social-icons img {
  width: 30px;
  margin-right: 10px;
}

.contact-form {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form button {
  padding: 10px;
  background-color: #f3b233;
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}

